<div class="container pb-5">
  <div class="row">
    <div class="col-12 px-3 py-3">
      <div class="flex justify-content-center align-items-center p-3 border-round-lg mb-3" style="background-color: #bf0411">
        <h1 class="text-2xl font-bold text-white m-0">Corporación Universitaria de la Costa Atlántica</h1>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer class="fixed bottom-0 w-full bg-white border-white border-top-1 py-2">
  <div class="flex justify-content-center align-items-center gap-2">
    <img src="assets/images/image.png" alt="Logo" class="h-2rem">
    <span class="text-sm font-bold">Jhonata Piña / Jhon Salamanca - Semestre 2025-1</span>
    <!-- <span class="text-sm">Proyecto de Universidad</span> -->
  </div>
</footer>
