/* Layout */
@import "assets/layout/styles/layout.css";

/* PrimeNG */
@import "primeng/resources/primeng.css";
@import "/node_modules/primeflex/primeflex.css";

/* Font */
@import url(https://fonts.bunny.net/css?family=inter:400,500,600,700);

/* Theme */
@import "assets/layout/styles/theme/aura-light/theme.css";

/* Others */
@import "remixicon/fonts/remixicon.css";
@import "assets/css/tailwindcss-colors.css";
@import "/node_modules/primeicons/primeicons.css";


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: "Inter", sans-serif;
  /* color: var(--slate-700); */
}

.card-custom {
  background: var(--surface-card);
  border: 1px solid var(--surface-border);
  /* padding: 2rem; */
  border-radius: 10px;
  margin-bottom: 1rem;
}

.card-custom .card-header {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.card-custom .card-content {
  border-top: 1px solid;
  border-color: var(--surface-border);
}
